*{
    background-color: beige;
}

body{
   display: flex;
   justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_btns {

    display: flex;
    
}

.container_btns button{
    width: 700px;
}
.container button{
    width: 100%;
}